---
import Layout from '../layouts/BaseLayout.astro';
---
<Layout title="Betriebserlaubnis und Btm-Nummernzuweisung">
    <section>
        <h2 class="text-4xl font-extrabold text-primary-blue mb-4">Betriebserlaubnis</h2>
        <p>Die Betriebserlaubnis für unsere Apotheken finden Sie <a href="/files/Betriebserlaubnis.pdf">hier</a>.</p>
    </section>

    <section>
        <h2 class="text-4xl font-extrabold text-primary-blue mb-4">Btm-Nummernzuweisung</h2>
        <p>Die Dokumente bezüglich unserer BGA-Nummer (Btm-Nummernzuweisung) erhalten Sie durch Klick auf die folgenden Links:</p>
        <ul>
            <li><a href="/files/0004156.pdf">Post-Apotheke Neckarhausen</a></li>
            <li><a href="/files/0058666.pdf">Schloss-Apotheke Ilvesheim</a></li>
        </ul>
    </section>

    <section>
        <h2 class="text-4xl font-extrabold text-primary-blue mb-4">Handelsregisterauszüge</h2>
        <p>Den aktuellen Handelsregisterauszug können Sie beim Registerportal der Länder abrufen. Aus Servicegründen ist unser Auszug hier aufgelistet:</p>
        <ul>
            <li><a href="/files/HRA333378.pdf">HRA 333378 Schloss-Apotheke Ilvesheim e.K.</a></li>
            <li><a href="/files/HRA331660.pdf">HRA 331660 Post-Apotheke Neckarhausen e.K.</a></li>
        </ul>
    </section>
</Layout>