---
import Layout from '../layouts/BaseLayout.astro';
// import { history } from '../data/history';
---
<Layout title="Unsere Apotheken: Geschichte und Gegenwart">
    <section class="container mx-auto px-4">
        <h2 class="text-4xl font-bold text-gray-800 text-center mb-12">Unsere Apotheken: Geschichte und Gegenwart</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8"></div>        
            <div class="mb-8">
                <h2 class="text-2xl font-semibold text-gray-800 mb-2">Schloss-Apotheke Ilvesheim</h2>
                <p class="text-gray-600 mb-4">Im November 1950 wurde die <a href="https://www.apotheke-ilvesheim.de/" 
                    class="text-primary-blue hover:underline">Schloss-Apotheke</a> von Frau Mag. Pharm. Ilse Münster gegründet. 
                    Ilvesheim hatte derzeit ca. 3.500 Einwohner. 1960 wurden die Räumlichkeiten renoviert und es 
                    wurden eigene Kundenparkplätze gebaut. Im Oktober 1972 übernahmen dann der Sohn Dieter Münster und dessen 
                    Frau Sigrid, beide Fachapotheker für Offizinpharmazie, die Apotheke. Die Inneneinrichtung wurde komplett 
                    modernisiert und mit allen aktuellen technischen Einrichtungen der Warenbewirtschaftung versehen.
                </p>
                <p class="text-gray-600 mb-4">Anfang der 1980er Jahre  wurde das Serviceangebot erweitert, indem ein Reformhaus eingerichtet 
                    wurde. 1978 eröffnete dann die Nord-Apotheke in der Haydnstrasse 12 als zweite Apotheke in Ilvesheim. Gegründet 
                    von Apothekerin Sigrid Münster, war es gerade für die älteren Bürger Nord-Ilvesheims eine große Erleichterung nicht 
                    immer den weiten Weg in die Ortsmitte tätigen zu müssen. In den späteren Jahren, wurden beide Apotheken immer 
                    wieder modernisiert, um dem Kunden einen ansprechenden und zeitgemäßen Service liefern zu können. Später 
                    wurde in der Schloßstraße ein zur Apotheke gehörendes Neuform Reformhaus erbaut, indem seitdem Bio-, Sport- 
                    Diät- und Reformhauswaren angeboten werden. Auch hier wurde der Kunde von besonders geschultem Personal beraten.
                </p>
                <p class="text-gray-600 mb-4">Am 1. Februar 2005 hat Dr. Stephan Weibel beide Apotheken als Inhaber übernommen. 
                    Er führt die Tradition und bewährte Qualität der Schloss- und der Nord-Apotheke in Ilvesheim fort. Das Reformhaus 
                    wurde in den 2010er Jahren geschlossen. Und auch die Nord-Apotheke musste Ende März 2025 aus wirtschaftlichen 
                    Gründen geschlossen werden.
                </p>
                <p class="text-gray-600 mb-4">Die Schloss-Apotheke wurde zum 1. September 2025 an Apotheker Thomas Luft verkauft, der
                    seit fast zwei Jahrzehnten bereits die Post-Apotheke in Edingen-Neckarhausen betreibt. Aktuell finden 
                    verschiedene Modernisierungsmaßnahmen statt um die Schloss-Apotheke fit für die Zukunft zu machen. Außerdem wird 
                    das Serviceangebot auch digital ausgeweitet: eine neu gestaltete Webseite mit integriertem Shop sowie die eigene
                    Apotheken-App, die die Bestellung von Medikamenten auch für die Bewohner von Ilvesheim-Nord erleichtert, sind die
                    ersten Maßnahmen.
                </p>
            </div>

            <div class="mb-8">
                <h2 class="text-2xl font-semibold text-gray-800 mb-2">Post-Apotheke Neckarhausen</h2>
                <p class="text-gray-600 mb-4">
                    Die <a href="https://www.postapotheke.biz/" class="text-primary-blue hover:underline">Post-Apotheke</a>
                    wurde im September 1980 als zweite Apotheke im Ortsteil Neckarhausen von Apotheker Michael Luft eröffnet.
                    Schon früh war die Apotheke technisch auf dem neuesten Stand. 1984 wurde das erste EDV-System installiert
                    um die Bestellung von Medikamenten zu vereinfachen.
                </p>
                <p class="text-gray-600 mb-4">
                    2002 erfolgte ein weiterer Schritt zu einer modernen Apotheke: die Installation eines automatischen Warenlagers und 
                    die Aktualisierung der Warenwirtchaft auf Standard-PCs. Außerdem wurde die dunkle Holzeinrichtung gegen eine helle,
                    freundliche Einrichtung ausgetauscht.
                </p>
                <p class="text-gray-600 mb-4">
                    Im September 2007 übernahm Apotheker Thomas Luft die Apotheke seines Vaters und führt diese seitdem mit den gleichen
                    Zielen: ein großes Warenlager für die Versorgung der Bevölkerung in Neckarhausen und gute Beratung bei allen
                    pharmazeutischen Fragen.
                </p>
            </div>

    </section>
</Layout>