---
---
<footer class="bg-secondary-gray text-gray-700 mt-8 py-8 text-center">
  <div class="container mx-auto px-4 flex flex-col items-center sm:flex-row sm:justify-end sm:items-end">
    <nav class="mb-4 sm:mb-0">
      <ul class="flex justify-center sm:justify-end space-x-6">
        <li><a href="/impressum" class="hover:text-primary-blue">Impressum</a></li>
        <li><a href="/datenschutz" class="hover:text-primary-blue">Datenschutz</a></li>
      </ul>
    </nav>
  </div>
</footer>